@import url("../../.cache/wal/colors-waybar.css");

* {
  border: none;
  border-radius: 0;
  font-family: Noto Sans Mono, sans-serif;
  min-height: 0;
}

/* Top bar ---------------------------------------------------------*/
.top {
  font-size: 16px;
  background-color: @background;
  border-top: 2px solid @color9;
  border-bottom: 2px solid @color9;
  border-left: 2px solid @background;
}

/* Modules left ------------------- */
#custom-launcher,
#taskbar,
#window {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 5px;

  background-color: @background;
  color: @foreground;
}

/* Modules center ------------------ */
#clock {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 5px;

  background-color: @background;
  color: @foreground;
}

/* Modules right  ------------------ */
#custom-power {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 5px;

  background-color: @background;
  color: @foreground;
}

/* Left bar ---------------------------------------------------------*/
.left {
  font-size: 14px;
  background-color: @background;
  border-left: 2px solid @color9;
  border-right: 2px solid @color9;
}

/* Modules left   ------------------- */

#custom-logo {
  margin-top: 15px;
  font-size: 20px;
  color: @color7;
}

/* Modules center ------------------- */
#workspaces {
  font-size: large;
}

#workspaces button {
  border: 2px solid transparent;
  margin-left: 20px;
  margin-right: 20px;
  color: @foreground;
}

#workspaces button.active {
  color: @color9;
  border-bottom: 2px solid @color9;
}

/* Modules right ------------------- */
/* Sound */
#pulseaudio {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 2px solid @color9;
  border-bottom: 2px solid @color9;
  color: @foreground;
}

/* Hardware */
#hardware {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid @color9;
  color: @foreground;
}

#cpu,
#memory,
#temperature {}

/* Connections */
#connections {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid @color9;
  color: @foreground;
}

#network,
#bluetooth {}

/* Power */
#power {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 2px solid @color9;
  color: @foreground;
}

#battery,
#backlight,
#power-profiles-daemon {}

/* Language */
#language {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  color: @foreground;
}