@import url("../../.cache/wal/colors-waybar.css");

* {
  border: none;
  border-radius: 0;
  font-family: Maple Mono, Noto Sans Mono, Ubuntu Nerd Font, sans-serif;
  font-size: large;
  min-height: 0;
}

/* ------------------------------------ Bar ------------------------------------ */
.top {
  background-color: transparent;
}

/* ------------------------------------ Sections ------------------------------------ */
.modules-left {}

.modules-center {
  border: 4px solid @color9;
  border-radius: 15px;

  margin-left: 5px;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: @background;
  color: @foreground;
}

.modules-right {}

/* ------------------------------------ Build-in ------------------------------------ */
#battery {}

#backlight {}

#bluetooth {}

#clock.time {}

#clock.date {}

#cpu {}

#disk {}

#memory {}

#network {}

#taskbar {}

#power-profiles-daemon {}

#pulseaudio {
  margin-right: 10px;
}

#pulseaudio-slider {
  padding: 0;
  margin: 0;
  background-image: none;
}

#pulseaudio-slider slider {
  background-image: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

#pulseaudio-slider trough {
  background-image: none;
  min-height: 10px;
  min-width: 100px;
  border-radius: 15px;
  background-color: @color8;
}

#pulseaudio-slider highlight {
  background-image: none;
  min-width: 10px;
  border-radius: 15px;
  background-color: @color4;
}

#temperature {}

#tray {
  border: 4px solid @color9;
  border-radius: 15px;

  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: @background;
  color: @foreground;
}

/* ------------------------------------ Hyprland ------------------------------------ */
#language {
  border: 4px solid @color9;
  border-radius: 15px;

  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: @background;
  color: @foreground;
}

#window {}

#workspaces {}

#workspaces button {
  color: @foreground;
}

#workspaces button.active {
  color: @color9;
}

/* ------------------------------------ Custom ------------------------------------ */
#custom-launcher {
  font-size: 25px;
  color: @color95;
}

#custom-power {
  border: 4px solid @color3;
  border-radius: 15px;

  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: @color3;
  color: @color0;
}

/* ------------------------------------ Groups ------------------------------------ */
#audio {
  border: 4px solid @color9;
  border-radius: 15px;

  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: @background;
  color: @foreground;
}

#time {
  border: 4px solid @color9;
  border-radius: 15px;

  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: @background;
  color: @foreground;
}

#hardware {
  border: 4px solid @color9;
  border-radius: 15px;

  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: @background;
  color: @foreground;
}

#connections {}

#power {
  border: 4px solid @color9;
  border-radius: 15px;

  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: @background;
  color: @foreground;
}